
*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    
}
body{
    background-color: rgb(189, 177, 177);
    height: 667px;
}

/*----------Menu-----------*/

header{
    display: flex;
    background-color: indianred;
    padding: 30px;
    width: 100%;
  
}
.logo{
    padding: 15px;
    color:white;
}
nav{
    padding: 18px;
    margin-left: auto;
    text-align: right;
}
nav a,p{
    text-decoration: none;
    color: honeydew;
    font-size: 18px;
    padding-right: 10px;
    
}
.adm{
    display: inline-block;
    cursor: pointer;
}
@media screen and (max-width:650px){
    header{
        display: inline-block;
    }
    .logo{
        text-align: center;
        
        
    }
    nav{
        text-align: center;
        padding: 20px 0px 15px 0px;
    }
    nav a p{
        padding-right: 10px;
    }
}
/*---------FIM Menu---------*/


/*-------Texto e fundo--------*/
section{
    padding: 20px;
    background-image: url(/img/marmota.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 667px;
}
.titulo{
    margin-top: 50px;
    margin-left: 50px;
    color: rgb(158, 217, 233);
    font-size: 35px;
    
}
.texto{
    max-width: 500px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 70px;
    background-color: rgba(230, 155, 155, 0.6);
    color: rgb(60, 66, 71);
    padding: 15px;
    border-radius: 10px;
    box-shadow: black 5px 5px 8px;
    
}
/*---------FIM Texto e fundo--------*/


/*--------Senha ADM----------*/

.senha-adm{
    position: absolute;
    top:40%;
    left: 45%;
    background-color: rgb(184, 101, 101);
    padding: 20px 50px 20px 50px;
    text-align: center;
    border-radius: 30px;
    color: rgb(228, 210, 210);
    display: none;
}
.senha-adm input[type=password]{
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 0;
}
.senha-adm input[type=button]{
    padding: 7px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    background-color: rgb(50, 69, 88);
    color: whitesmoke;
}

/*---------FIM Senha ADM----------*/

/*---------painel ADM----------*/
.painel{
    width: 300px;
    background-color: rgb(12, 107, 99);
    position: absolute;
    top: 100px;
    right: 30%;
    color: white;
    text-align: center;
    border-radius: 15px;
    display: none;
}
.cor{
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    
}
.cor:nth-last-of-type(3){
    margin-top: 10px;
    background-color: peru;
}
.cor:nth-last-of-type(2){
    margin-top: 10px;
    background-color: teal;
}
.cor:nth-last-of-type(1){
    margin-top: 10px;
    background-color: indianred;
}

.imagem{
    width: 100%;
    margin-top: 30px;
   
}
.imagem div{
    width: 70px;
    height: 70px;
    background-color: turquoise;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
}
.imagem p{
    margin-bottom: 10px;
}
.marmota1{
    background-image: url(/img/marmota.jpg);
    background-size: 100% 100%;
}
.marmota2{
    background-image: url(/img/marmota2.jpg);
    background-size: 100% 100%;
}
.marmota3{
    background-image: url(/img/marmota3.jpg);
    background-size: 100% 100%;
}
.grito{
    width: 65px;
    height: 100px;
    background-color: thistle;
    position: absolute;
    top: 180px;
    right: 40px;
    opacity: 0;
    display: none;
}

.cor-texto{
    display: flex;
    margin-top: 20px;
    
}
.cor-texto div{
    margin: 0 auto;
}
.cor-titulo div{
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: solid black 1px;
    border-radius: 25px;
    margin-top: 5px;
}
.cor-h1{
    background-color: rgb(158, 217, 233);
}
.cor-h2{
    background-color: rgb(248, 182, 159);
}
.cor-h3{
    background-color: rgb(189, 238, 195);
}
.cor-txt div{
    width: 45px;
    height: 45px;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 5px;
    cursor: pointer;
}
.cor-txt1{
    background-color: rgb(60, 66, 71);
}
.cor-txt2{
    background-color: rgb(92, 88, 34);
}
.cor-txt3{
    background-color: rgb(62, 80, 62);
}

.sair{
    width: 50px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(211, 200, 211);
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    color: black;
    margin-bottom: 50px;
}

/*----------FIM painel ADM----------*/

